<!DOCTYPE html>
<html>
<head>
  <title>pick 'em</title>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Pick Em's</a>
    </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/about">About</a></li>
        <li><a href="#/login">Login</a></li>
        <li><a href="#/register">Register</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</head>
<body data-spy="scroll" data-target="navbar-example">
  <div class="jumbotron">
  <div class="containter">
    <h1>we love football sundays.</h1>
    <p>join our pick 'em league</p>
    <p><a class="btn btn-primary btn-lg" href="#/about" role="button">About Us</a></p>
  </div>
</div>
</body>
</html>

<!-- https://download.unsplash.com/photo-1417716226287-2f8cd2e80274 -->
